body {
  color: rgb(58, 0, 58);
}

.downloading-assets-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.downloading-asset {
  float: left;
  position: relative;
  overflow: hidden;

  width: 320px;
  height: 180px;
}

.thumbnail {
  position: absolute;
  display: block;
  max-width: none;
}